

body{
  min-height: 100vh;
  min-width: 100vw;
}


.img-container{
  display: flex;
  width: 300vw;
  transition: transform 1s;
}

.carousel-container{
  overflow: hidden;
}

.card{
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
}

.img-c{
  width: 100vw;
  text-align: center;
}

.carousel-container button{
  border: 1px solid tomato;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: none;
  cursor: pointer;
  z-index: 1;
}

.n-container{
  margin-left: 3px;
}

.n-1, .n-2, .n-3, .n-4{
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: tomato;
}
.n-1, .n-4{

  transform: rotate(45deg);
}
.n-2, .n-3{
  transform: rotate(-45deg);
}

.next, .previous{
  position: absolute;
  top: 20vh;

}

.previous{
  left: 10vw;
}
.next{
  right: 10vw;
}

.counter{
  text-align: center;
  color: tomato;
  font-weight: 600;
}

