body, p, h4, h1, h2, h3, h5 {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url(font/MontserratAlternates-Regular.otf);
}
@font-face {
  font-family: "Basic Font";
  src: url(font/NanumSquareB.woff);
}
@font-face {
  font-family: "Alex";
  src: url(font/AlexBrush-Regular.ttf);
}
.container {
  color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Basic Font";
}
.container .side-navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  background: #051937;
  width: 150px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-105px);
  transition: all 0.8s;
}
.container .side-navbar .side-navbar-icon-container {
  margin-top: 20px;
  padding-bottom: 10px;
  width: 80%;
}
.container .side-navbar .side-navbar-icon-container .side-navbar-icon {
  transition: all 0.8s;
}
.container .side-navbar .side-navbar-icon-container a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.container .side-navbar .side-navbar-icon-container a p {
  transition: all 1s;
}
.container .side-navbar:hover {
  transform: translateX(0%);
}
.container .side-navbar:hover .side-navbar-icon-container {
  margin-left: 20px;
}
.container .side-navbar:hover .side-navbar-icon {
  transform: translateX(-100px);
}
.container .side-navbar:hover p {
  transform: translateX(40px);
}
.container .nav-container {
  /* border-bottom: 1px solid grey; */
  width: 100vw;
  height: 5vh;
}
.container .nav-container .navbar {
  z-index: 1;
  width: 80%;
  max-width: 1300px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav-container .navbar .title {
  font-family: "Alex";
  font-size: 18px;
  font-weight: 900;
}
.container .nav-container .navbar .nav-left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .nav-container .navbar .nav-left .time {
  font-size: 16px;
  font-weight: 600;
  /* border: 1px solid black;
  background-color: black; */
  border-radius: 5px;
}
.container .nav-container .navbar .nav-left .sub-menu-btn {
  border: none;
  background: none;
  font-size: 35px;
  padding: 5px 13px;
  cursor: pointer;
}
.container .side-menu-container {
  z-index: 5;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
}
.container .side-menu-container .side-menu {
  z-index: 1;
  visibility: visible;
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(-90%);
  background-color: white;
  width: 100%;
  max-width: 490px;
  height: 100%;
  transition: all 0.5s;
}
.container .side-menu-container .side-menu .side-menu-header {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 10px;
  align-items: center;
}
.container .side-menu-container .side-menu .side-menu-header .side-menu-close-btn {
  cursor: pointer;
  font-size: 26px;
}
.container .side-menu-container .side-menu:hover {
  transform: translateX(0) !important;
}
.container .side-menu-show {
  visibility: visible;
}
.container .M-navbar-container {
  display: none;
}
.container .login-modal-black-bg {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.445);
}
.container .login-modal-black-bg .login-modal {
  transform: translateY(-200%);
  transition: all 0.8s;
  width: 70%;
  max-width: 770px;
  height: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}
.container .login-modal-black-bg .login-modal .login-modal-container {
  box-sizing: border-box;
  height: 100%;
  padding: 50px;
  text-align: left;
}
.container .login-modal-black-bg .login-modal .login-modal-container .login-form {
  padding: 20px;
}
.container .login-modal-black-bg .login-modal .login-modal-container .login-form input {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  display: block;
  margin: 20px;
  margin-right: auto;
  margin-left: auto;
}
.container .login-modal-black-bg .login-modal .login-modal-container .login-form .register {
  margin-bottom: 15px;
  color: blue;
}
.container .login-modal-black-bg .login-modal .login-modal-container .login-form .register:visited {
  color: blue;
}
.container .login-modal-black-bg .login-modal .login-modal-container .login-form button {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}
.container .login-modal-black-bg .login-modal .login-modal-container .login-form .blue {
  background: none;
  color: #79b3f4;
  border: 1px solid #79b3f4;
}
.container .login-modal-black-bg .login-modal .login-modal-container .login-form .red {
  background: none;
  color: #051937;
  border: 1px solid #051937;
}
.container .login-modal-black-bg .login-modal .login-modal-container .login-modal-title {
  text-align: center;
  font-size: 24px;
}
.container .contents {
  /*     .header::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: url(../img/6eef283e5e1ea3a0ff4a6ff89f6bfe0a.jpg);
        filter: brightness(35%) grayscale(100%); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
      } */
}
.container .contents .header {
  position: relative;
  width: 100%;
  height: 20vh;
  /*       box-shadow: 1px 1px 10px black; */
}
.container .contents .header .header-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .contents .header .header-content .header-title {
  font-family: "Alex";
  font-size: 45px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .contents .header .header-content .header-subtitle {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .weather-container {
  margin-top: 20px;
  width: 100%;
}
.container .weather-container .weather {
  /* background-image: linear-gradient(to right bottom, #5599ff, #2e81ff, #0068fd, #004bf6, #1225eb); */
  width: 50%;
  padding: 20px 5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container .weather-container .weather .weather-top {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .weather-container .weather .weather-top .sky {
  font-size: 50px;
  margin-right: 10px;
  margin: 10px inherit;
}
.container .weather-container .weather .weather-top .w-ico {
  font-size: 50px;
}
.container .weather-container .weather .weather-top .tmp {
  font-size: 40px;
  margin-left: 10px;
}
.container .weather-container .weather .location {
  font-size: 20px;
  margin: 10px auto;
}
.container .weather-container .weather .w-search {
  border: none;
  background: none;
}
.container .weather-container .weather .weather-bottom {
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .weather-container .weather .weather-bottom p {
  margin: 30px;
}
.container .weather-container .weather .weather-bottom p i {
  font-size: 24px;
}

.contents-container {
  width: 100vw;
  height: 40vh;
}
.contents-container .contents-grid {
  height: 100%;
  width: 80%;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.contents-container .contents-grid .contents {
  cursor: pointer;
  border-radius: 15px;
  margin: 5px;
  filter: brightness(90%);
  text-align: center;
  color: white;
}
.contents-container .contents-grid .contents .inner-contents {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transition: all 0.2s;
}
.contents-container .contents-grid .contents:hover .inner-contents {
  visibility: visible;
  background: rgba(0, 0, 0, 0.596);
}
.contents-container .contents-grid .contents:nth-child(1) {
  background-image: url("../img/galaxy2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.contents-container .contents-grid .contents:nth-child(2) {
  background-image: url("../img/card2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.contents-container .contents-grid .contents:nth-child(3) {
  background-image: url("../img/card3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.contents-container .contents-grid .contents:nth-child(4) {
  background-image: url("../img/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.contents-container .contents-grid .contents:nth-child(5) {
  background-image: url("../img/space2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.contents-container .contents-grid .contents:nth-child(6) {
  background-image: url("../img/galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateY(0%) !important;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .container .side-navbar {
    display: none;
  }
  .container .nav-container {
    /* border-bottom: 1px solid grey; */
    color: white;
    width: 100vw;
    height: 5vh;
  }
  .container .nav-container .navbar {
    z-index: 1;
    width: 90%;
    max-width: 1300px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .nav-container .navbar .title {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 900;
  }
  .container .nav-container .navbar .nav-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .container .nav-container .navbar .nav-left .time {
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid black;
    background-color: black; */
    color: white;
    border-radius: 5px;
  }
  .container .nav-container .navbar .nav-left .sub-menu-btn {
    border: none;
    color: white;
    background: none;
    font-size: 35px;
    padding: 5px 13px;
    cursor: pointer;
  }
  .container .login-modal-black-bg {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.445);
  }
  .container .login-modal-black-bg .login-modal {
    transform: translateY(-200%);
    transition: all 0.8s;
    width: 70%;
    max-width: 770px;
    height: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container {
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    text-align: left;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container .login-form {
    padding: 20px;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container .login-form input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    display: block;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container .login-form .register {
    margin-bottom: 15px;
    color: blue;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container .login-form .register:visited {
    color: blue;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container .login-form button {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container .login-form .blue {
    background: none;
    color: #79b3f4;
    border: 1px solid #79b3f4;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container .login-form .red {
    background: none;
    color: #051937;
    border: 1px solid #051937;
  }
  .container .login-modal-black-bg .login-modal .login-modal-container .login-modal-title {
    text-align: center;
    font-size: 24px;
  }
  .container .M-navbar-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 50vh;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: translateY(40vh);
    transition: all 0.5s;
  }
  .container .M-navbar-container .M-navbar {
    width: 100%;
    height: 100%;
    padding: 9px;
    background: #051937;
  }
  .container .M-navbar-container .M-navbar .M-navbar-button-container {
    width: 100%;
    height: 30px;
    color: white;
    margin-bottom: 5px;
  }
  .container .M-navbar-container .M-navbar .M-navbar-button-container .M-navbar-button {
    display: flex;
    justify-content: center;
  }
  .container .M-navbar-container .M-navbar .M-navbar-button-container .M-navbar-button .left-bar {
    width: 60px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    transform: rotate(173deg) translateY(-10px);
  }
  .container .M-navbar-container .M-navbar .M-navbar-button-container .M-navbar-button .right-bar {
    width: 60px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    transform: rotate(7deg) translateY(10px);
  }
  .container .M-navbar-container .M-navbar .M-navbar-main {
    display: flex;
    justify-content: space-around;
  }
  .container .M-navbar-container .M-navbar .M-navbar-main .M-bottom-navbar-icon-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .container .M-navbar-container .M-navbar .M-navbar-main .M-bottom-navbar-icon-container a .M-iconName {
    margin-top: 5px;
    transform: translateY(50px);
    transition: all 1s;
  }
  .container .contents .header {
    position: relative;
    width: 100%;
    height: 20vh;
    /*       box-shadow: 1px 1px 10px black; */
  }
  .container .contents .header .header-content {
    position: initial;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .container .contents .header .header-content .header-title {
    width: 100%;
    color: white;
    position: initial;
    transform: translate(0%, 0%);
  }
  .container .contents .header .header-content .header-subtitle {
    width: 100%;
    text-align: center;
    color: white;
    position: initial;
    transform: translate(0%, 0%);
  }
  .container .weather-container {
    margin-top: 20px;
    width: 100%;
  }
  .container .weather-container .weather {
    /* background-image: linear-gradient(to right bottom, #5599ff, #2e81ff, #0068fd, #004bf6, #1225eb); */
    color: white;
    width: 100%;
    padding: 20px 5px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .container .weather-container .weather .weather-top {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .weather-container .weather .weather-top .sky {
    font-size: 50px;
    margin-right: 10px;
  }
  .container .weather-container .weather .weather-top .w-ico {
    font-size: 50px;
  }
  .container .weather-container .weather .weather-top .tmp {
    font-size: 40px;
    margin-left: 10px;
  }
  .container .weather-container .weather .location {
    font-size: 20px;
    margin: 10px auto;
  }
  .container .weather-container .weather .w-search {
    border: none;
    background: none;
    color: white;
  }
  .container .weather-container .weather .w-search::-webkit-input-placeholder {
    color: white;
  }
  .container .weather-container .weather .weather-bottom {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .weather-container .weather .weather-bottom p {
    margin: 10px;
  }
  .container .weather-container .weather .weather-bottom p i {
    font-size: 24px;
  }
  .contents-container {
    width: 100vw;
    height: 40vh;
  }
  .contents-container .contents-grid {
    height: 100%;
    width: 80%;
    max-width: 770px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contents-container .contents-grid .contents {
    cursor: pointer;
    border-radius: 15px;
    margin: 5px;
    filter: brightness(90%);
    text-align: center;
    color: white;
  }
  .contents-container .contents-grid .contents .inner-contents {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transition: all 0.2s;
  }
  .contents-container .contents-grid .contents:hover .inner-contents {
    visibility: visible;
    background: rgba(0, 0, 0, 0.596);
  }
  .contents-container .contents-grid .contents:nth-child(1) {
    background-image: url("../img/galaxy2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contents-container .contents-grid .contents:nth-child(2) {
    background-image: url("../img/card2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contents-container .contents-grid .contents:nth-child(3) {
    background-image: url("../img/card3.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contents-container .contents-grid .contents:nth-child(4) {
    background-image: url("../img/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contents-container .contents-grid .contents:nth-child(5) {
    background-image: url("../img/space2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contents-container .contents-grid .contents:nth-child(6) {
    background-image: url("../img/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .show {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0%) !important;
  }
}
.M-slideUp {
  transform: translateY(0) !important;
}

.M-rotateL {
  transform: rotate(7deg) translateY(10px) translateX(2px) !important;
}

.M-rotateR {
  transform: rotate(173deg) translateY(-10px) translateX(2px) !important;
}/*# sourceMappingURL=index.css.map */