body, p, h4, h1, h2, h3, h5{
  margin: 0px;
}

div{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url(font/MontserratAlternates-Regular.otf);
}

@font-face {
  font-family: 'Basic Font';
  src: url(font/NanumSquareB.woff);
}



.container{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Basic Font';
  // nav bar & menu

  .side-navbar{
    z-index: 1;
    position: fixed;
    top: 0;
    background: #051937;
    width: 150px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-105px);
    transition: all .8s;
    .side-navbar-icon-container{
      margin-top: 20px;
      padding-bottom: 10px;
      width: 80%;
      .side-navbar-icon{
        transition: all .8s;
      }
      a{
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: white;
        cursor: pointer;
        p{
          
          transition: all 1s;
        }
      }
    }
  }
  .side-navbar:hover{
    transform: translateX(0%);
    .side-navbar-icon-container{
      margin-left: 20px;
    }
    .side-navbar-icon{
      transform: translateX(-100px);
    }
    p{
      transform: translateX(40px);
    }
  }
  .nav-container{
    /* border-bottom: 1px solid grey; */
    color: white;
    width: 100vw;
    height: 5vh;
    .navbar{
      z-index: 1;
      width: 80%;
      max-width: 1300px;
      padding: 20px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 900;
      }
      .nav-left{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .time{
          font-size: 16px;
          font-weight: 600;
          /* border: 1px solid black;
          background-color: black; */
          color: white;
          border-radius: 5px;
        }
        .sub-menu-btn{
          border: none;
          color: white;
          background: none;
          font-size: 35px;
          padding: 5px 13px;
          cursor: pointer;
        }
      }
    }
  }
  // side menu
  .side-menu-container{
    z-index: 5;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    .side-menu{
      z-index: 1;
      visibility: visible;
      position: relative;
      top: 0;
      left: 0;
      transform: translateX(-90%);
      background-color: white;
      width: 100%;
      max-width: 490px;
      height: 100%;
      transition: all .5s;
      .side-menu-header{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        padding: 10px;
        align-items: center;
        .side-menu-close-btn{
          cursor: pointer;
          font-size: 26px;
        }
      }
    }
    .side-menu:hover{
      transform: translateX(0) !important;
    }
  }
  .side-menu-show{
    visibility: visible;
  }
  // Mobile Size navbar
  .M-navbar-container{
    display: none;
  }
  // login modal
  .login-modal-black-bg{
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.445);
    .login-modal{
      transform: translateY(-200%);
      transition: all .8s;
      width: 70%;
      max-width: 770px;
      height: 40%;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10%;
      background-color: white;
      border-radius: 15px;
      text-align: center;
      .login-modal-container{
        box-sizing: border-box;
        height: 100%;
        padding: 50px;
        text-align: left;
        .login-form{
          padding: 20px;
          input{
            border: 1px solid gray;
            border-radius: 5px;
            width: 100%;
            height: 35px;
            display: block;
            margin: 20px;
            margin-right: auto;
            margin-left: auto;
          }
          .register{
            margin-bottom: 15px;
            color: blue;
          }
          .register:visited{
            color: blue;
          }
          button{
            cursor: pointer;
            padding: 8px 15px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
          }
          .blue{
            background: none;
            color: #79b3f4;
            border: 1px solid #79b3f4;
          }
          .red{
            background: none;
            color: #051937;
            border: 1px solid #051937;
          }
        }
        .login-modal-title{
          text-align: center;
          font-size: 24px;
        }
      }
    }
  }
  // header
  .contents{
    .header{
      position: relative;
      width: 100%;
      height: 20vh;
/*       box-shadow: 1px 1px 10px black; */
      .header-content{
        position: absolute;
        width: 100%;
        height: 100%;
        .header-title{
          color: white;
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .header-subtitle{
          text-align: center;
          color: white;
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
/*     .header::before{
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: url(../img/6eef283e5e1ea3a0ff4a6ff89f6bfe0a.jpg);
      filter: brightness(35%) grayscale(100%); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 100%;
    } */
  }
  // weather
  .weather-container{
    margin-top: 20px;
    width: 100%;
    .weather{
      /* background-image: linear-gradient(to right bottom, #5599ff, #2e81ff, #0068fd, #004bf6, #1225eb); */
      color: white;
      width: 50%;
      
      padding: 20px 5px;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .weather-top{
        width: 40%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .sky{
          font-size: 50px;
          margin-right: 10px;
          margin: 10px inherit;
        }
        .w-ico{
          font-size: 50px;
        }
        .tmp{
          font-size: 40px;
          margin-left: 10px;
        }
      }
      .location{
        font-size: 20px;
        margin: 10px auto;
      }
      .w-search{
        border: none;
        background: none;
        color: white;
      }
      .w-search::-webkit-input-placeholder{
        color: white;
      }
      .weather-bottom{
        display: flex;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          margin: 30px;
          i{
            font-size: 24px;
          }
        }
      }
    }
  }
}
// contents
.contents-container{
  width: 100vw;
  height: 40vh;
  .contents-grid{
    height: 100%;
    width: 80%;
    max-width: 770px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
    .contents{
      cursor: pointer;
      border-radius: 15px;
      margin: 5px;
      filter: brightness(90%);
      text-align: center;
      color: white;
      .inner-contents{
        border-radius: 15px;
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
        transition: all .2s;
      }
    }
    .contents:hover{
      .inner-contents{
        visibility: visible;
        background: rgba(0, 0, 0, 0.596);
      }
    }

    .contents:nth-child(1){
      background-image: url('../img/galaxy2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .contents:nth-child(2){
      background-image: url('../img/card2.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .contents:nth-child(3){
      background-image: url('../img/card3.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .contents:nth-child(4){
      background-image: url('../img/space.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .contents:nth-child(5){
      background-image: url('../img/space2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .contents:nth-child(6){
      background-image: url('../img/galaxy.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
// JS
.show{
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateY(0%) !important;
}




















@media screen and (max-width : 600px) {
  // for mobile
  .container{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // nav bar & menu
  
    .side-navbar{
      display: none;
    }

    .nav-container{
      /* border-bottom: 1px solid grey; */
      color: white;
      width: 100vw;
      height: 5vh;
      .navbar{
        z-index: 1;
        width: 90%;
        max-width: 1300px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
          font-family: 'Montserrat';
          font-size: 18px;
          font-weight: 900;
        }
        .nav-left{
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .time{
            font-size: 16px;
            font-weight: 600;
            /* border: 1px solid black;
            background-color: black; */
            color: white;
            border-radius: 5px;
          }
          .sub-menu-btn{
            border: none;
            color: white;
            background: none;
            font-size: 35px;
            padding: 5px 13px;
            cursor: pointer;
          }
        }
      }
    }
    // side menu (removed)

    // login modal
    .login-modal-black-bg{
      visibility: hidden;
      opacity: 0;
      transition: all .5s;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.445);
      .login-modal{
        transform: translateY(-200%);
        transition: all .8s;
        width: 70%;
        max-width: 770px;
        height: 40%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10%;
        background-color: white;
        border-radius: 15px;
        text-align: center;
        .login-modal-container{
          box-sizing: border-box;
          height: 100%;
          padding: 50px;
          text-align: left;
          .login-form{
            padding: 20px;
            input{
              border: 1px solid gray;
              border-radius: 5px;
              width: 100%;
              height: 35px;
              display: block;
              margin: 20px;
              margin-right: auto;
              margin-left: auto;
            }
            .register{
              margin-bottom: 15px;
              color: blue;
            }
            .register:visited{
              color: blue;
            }
            button{
              cursor: pointer;
              padding: 8px 15px;
              border-radius: 5px;
              font-size: 16px;
              font-weight: 600;
            }
            .blue{
              background: none;
              color: #79b3f4;
              border: 1px solid #79b3f4;
            }
            .red{
              background: none;
              color: #051937;
              border: 1px solid #051937;
            }
          }
          .login-modal-title{
            text-align: center;
            font-size: 24px;
          }
        }
      }
    }
    
    // Mobile Bottom Navbar
    .M-navbar-container{
      display: block;
      position: fixed;
      width: 100%;
      height: 50vh;
      bottom: 0;
      left: 0;
      z-index: 1;
      transform: translateY(40vh);
      transition: all .5s;
      .M-navbar{
        width: 100%;
        height: 100%;
        padding: 9px;
        background: #051937;
        .M-navbar-button-container{
          width: 100%;
          height: 30px;
          color: white;
          margin-bottom: 5px;
          .M-navbar-button{
            display: flex;
            justify-content: center;
            .left-bar{
              width: 60px;
              height: 3px;
              border-radius: 5px;
              background-color: white;
              transform: rotate(173deg) translateY(-10px);
            }
            .right-bar{
              width: 60px;
              height: 3px;
              border-radius: 5px;
              background-color: white;
              transform: rotate(7deg) translateY(10px);
            }
          }
        }
        .M-navbar-main{
          display: flex;
          justify-content: space-around;
          .M-bottom-navbar-icon-container{
            a{
              display: flex;
              flex-direction: column;
              align-items: center;
              text-decoration: none;
              color: white;
              .M-iconName{
                margin-top: 5px;
                transform: translateY(50px);
                transition: all 1s;
              }
            }
          }
          .M-bottom-navbar-icon-container:nth-child(3){
            a{

            }
          }
        }
      }
    }

    // header
    .contents{
      .header{
        position: relative;
        width: 100%;
        height: 20vh;
  /*       box-shadow: 1px 1px 10px black; */
        .header-content{
          position: initial;
          text-align: center;
          width: 100%;
          height: 100%;
          .header-title{
            width: 100%;
            color: white;
            position: initial;
            // top: 15%;
            // left: 50%;
            transform: translate(0%, 0%);
          }
          .header-subtitle{
            width: 100%;
            text-align: center;
            color: white;
            position: initial;
            // top: 55%;
            // left: 50%;
            transform: translate(0%, 0%);
          }
        }
      }
    }
    // weather
    .weather-container{
      margin-top: 20px;
      width: 100%;
      .weather{
        /* background-image: linear-gradient(to right bottom, #5599ff, #2e81ff, #0068fd, #004bf6, #1225eb); */
        color: white;
        width: 100%;
        
        padding: 20px 5px;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .weather-top{
          width: 40%;
          margin-right: auto;
          margin-left: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          .sky{
            font-size: 50px;
            margin-right: 10px;
          }
          .w-ico{
            font-size: 50px;
          }
          .tmp{
            font-size: 40px;
            margin-left: 10px;
          }
        }
        .location{
          font-size: 20px;
          margin: 10px auto;
        }
        .w-search{
          border: none;
          background: none;
          color: white;
        }
        .w-search::-webkit-input-placeholder{
          color: white;
        }
        .weather-bottom{
          display: flex;
          width: 80%;
          margin-top: 20px;
          margin-right: auto;
          margin-left: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          p{
            margin: 10px;
            i{
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  // contents
  .contents-container{
    width: 100vw;
    height: 40vh;
    .contents-grid{
      height: 100%;
      width: 80%;
      max-width: 770px;
      margin-right: auto;
      margin-left: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
      .contents{
        cursor: pointer;
        border-radius: 15px;
        margin: 5px;
        filter: brightness(90%);
        text-align: center;
        color: white;
        .inner-contents{
          border-radius: 15px;
          width: 100%;
          height: 100%;
          padding: 10px;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          align-items: center;
          visibility: hidden;
          transition: all .2s;
        }
      }
      .contents:hover{
        .inner-contents{
          visibility: visible;
          background: rgba(0, 0, 0, 0.596);
        }
      }
  
      .contents:nth-child(1){
        background-image: url('../img/galaxy2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      .contents:nth-child(2){
        background-image: url('../img/card2.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
      .contents:nth-child(3){
        background-image: url('../img/card3.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
      .contents:nth-child(4){
        background-image: url('../img/space.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      .contents:nth-child(5){
        background-image: url('../img/space2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      .contents:nth-child(6){
        background-image: url('../img/galaxy.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  // JS
  .show{
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0%) !important;
  }
}
.M-slideUp{
  transform: translateY(0) !important;
}

.M-rotateL{
  transform: rotate(7deg) translateY(10px) translateX(2px) !important;
}

.M-rotateR{
  transform: rotate(173deg) translateY(-10px) translateX(2px) !important;
}