.alert-box{
  background-color: #aba8f4;
  color: #4646ba;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.yellow-bg{
  background: yellow;
}

.main-background{
  /* background-image: url('https://cafeptthumb-phinf.pstatic.net/MjAyMTEwMThfMTQx/MDAxNjM0NTMyNzkyODgz.YsmKhoOaZacApbbdKEokmYWYcEQ-HgSsKbDHuB7unyEg.BPmdmd_K2HqzAqrZEXrLv40bOhZCIwv_v99CHFI6LuEg.PNG/%EC%99%84%EC%84%B1.png?type=w800'); */
  background-size: cover;
  color: black;
  border-radius: 0px;
}

.black-background{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s;
  transform: translateY(-1100px);
}

.slide-down{
  transform: translateY(0px);
}



.white-background{
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  width: 100%;
  color: black;
  transition: all 1s;
}

.bg-black{
  background-color: black;
  color: white;
  font-size: smaller;
}

.nav-sub{
  display: none !important;
}

#email-alert, #password-alert, #email-alert-em{
  display: none;
}

.left-menu{
  width: 150px;
  height: 100%;
  background-color: black;
  color: white;
  position: fixed;
  transform: translateX(-200px);
  transition: all 1s;
}

.left-menu div {
  display: flex;
  justify-content: space-between;
}

.large-logo{
  font-size: 30px;
  transition: all 1s;
}

.small-logo{
  font-size: 20px;
  color: white;
}

.slide-right{
  transform: translateX(0px);
}


.slide-container{
  width: 300vw;
  transition: transform 1s;
  position: relative;
}

.slide-box{
  width: 100vw;
  float: left;
  text-align: center;
}

.slide-c{
  position: relative;
}


.s-button{
  z-index: 3;
  border: none;
  width: 25px;
  height: 40px;
  color: white;
  background-color: black;
  font-weight: 900;
  border-radius: 5px;
}

.next{
  position: absolute;
  margin-top: 120px;
  left: 90%;

}

.previous{
  position: absolute;
  margin-top: 120px;
  right: 90%;

}


.size-select{
  display: block;
}